!!!
%html
  %head
    = haml(:head)
  %body
    #wrapper
      #header
        %ul#headerNav
          %li
            %a(href="/") home
          %li
            %a(href="http://blog.deadpansincerity.com") blog
          %li.active
            %a(href="about/")about
      #nav
        = haml(:nav, :layout => false )

      .fullContent
        .contentHeader
          %img(src="/img/profile.jpg")
            %p.contentTitle
              Some notes to
            %p.contentTitle
              provide
            %p.contentTitle
              <b>context</b>
        %h2
          PERSONAL:
        %p
          David was born at a very young age. Sometime after that he studied Philosophy,
          before deciding not to worry so much about the meaning of life.
        %h2
          PROFESSIONAL:
        %p
          Unrelated to this, he later became a software engineer, where serendipitously enough,
          it turned out that having strong opinions about truthiness, and the logical consistency
          of concepts could actually be of practical use.
        %h2
          PUBLIC:
        %p
          If you are looking for <b>More Information</b> concerning the activities of David Miller,
          I bsuggest that you engage the following places or simply mail the author of this site at
          the address to the left...
        %ul
          %li
            %a( href="http://www.twitter.com/thatdavidmiller" )twitter
          %li
            %a( href="http://www.last.fm/user/thatdavidmiller")last.fm
          %li
            %a( href="http://www.delicious.com/thatdavidmiller")delicious
        %h2
          COLOPHON:
        %p#colophon
          This site was made in <b>emacs</b> on <b>crunchbang</b>
          linux, using <b>html</b> compiled from <b>haml</b>
          for structure, <b>css</b>
          for presentation, the <b>jquery</b> and <b>backbone</b>
          javascript libraries
          for interaction, using <b>ruby</b> via
          <b>sinatra</b> for server side joy.
          The blog is powered by <b>wordpress</b> and hosting is
          from <b>webfaction</b>.
        %p
          If you're interested, you can even see the source code on
          %a( href="http://github.com/davidmiller/sinceresinatra" )github

    - if analyze == true
      = haml( :analytics, :layout => false )
