%h1.contenttitle#logo
  deadpan
  %br/
  sincerity
%h2
  personal website of
  %br/
  david miller
%p
  e: david at deadpansincerity.com
  %br
  %br
  t: 
  %a{:href => "https://twitter.com/@thatdavidmiller"}
    @thadavidmiller
