body
{
    font-family: verdana, helvetica, walkway, sans-serif;
    *background-color: #fff;
    background: url(images/layout_grid.gif) top center repeat-y;
    margin: 0px;
}
#wrapper
{
    width: 940px;
    margin: 0 auto;
}
a,
ul#tasty li.title a
{
    color: red;
    font-weight: normal;
    text-decoration: none;
}

a:hover,
ul#tasty li.title a:hover
{
    color: #f86;
    font-weight: normal;
    text-decoration: none;
}
/* Navigation */
#header
{
    height: 30px
}
#headerNav
{
    margin: 0px 0px 0px 278px;
    padding: 0px 0px 0px 0px;
    list-style-type: none;
}
#headerNav li
{
    width: 110px;
    background-color: white;
    display: inline-block;
    padding: 6px 0px 12px 0px;
    margin: 0px 2px 0px 0px;
    text-transform: uppercase;
    text-align: center;
    width: 110px
}
#headerNav li:hover,
#headerNav li:hover a
{
    background-color: red;
    color: white;
}
#headerNav li.active,
#headerNav li.active a
{
    background-color: red;
    color: white;
}
#nav
{
    position: absolute;
    top: 0px;
    border-left: solid 1px red;
    font-size: 13px;
    width: 195px;
    margin: -26px 0px 0px 0px;
}
#nav h2
{
    padding-left: 3px;
    font-size: 13px;
    font-weight: normal;
    margin-top: -3px;
}
#nav p
{
    margin-top: 18px;
    padding-left: 3px;
    font-size: 13px;
    line-height: 1.5em;
}
#logo
{
    font-size: 38px;
    line-height: 85%;
    font-weight: normal;
    border-bottom: 1px red solid;
}

/* Homepage streams */

ul#coding li.title,
ul#twittering li.title,
ul#tasty li.title
{
    font-size: 12px;
    border-bottom: 1px solid red;
    margin-left: -6px;
    padding-left: 6px;
}

ul#coding,
ul#twittering,
ul#tasty
{
    list-style-type: none;
    font-size: 10px;
    padding: 6px;
    width: 188px;
    border-left: red solid 1px;
    float: left;
}
ul#twittering
{
    margin: 144px 0px 0px 31px;
}
ul#tasty
{
    margin: 100px 0px 0px 278px;
}
ul#coding
{
    margin: 184px 0px 0px 28px;
}
ul#tasty a
{
color: #000;
}
ul#tasty a:hover
{
color: red;
}

ul#coding li,
ul#tasty li,
ul#twittering li{
margin: 6px 0px;
}
span.twitterDate,
span.codeDate,
span.morselDate
{
display: block;
font-size: 9px;
color: #777
}
.fullContent{
margin: 30px 0px 0px 234px;
*border: 1px solid black;
width: 626px;
border-right: 1px red solid;
}
.fullContent img{
width: 388px;
float: left;
}
.fullContent p{
clear: both;
padding: 0px 12px;
}
.fullContent div.contentHeader{
border-bottom: 1px red solid;
height: 266px;
margin-top: -60px;
padding-top: 60px;
}
.fullContent p.contentTitle{
clear: none;
color: white;
font-family: georgia, serif;
font-size: 22px;
padding: 6px 12px;
background-color: red;
overflow: hidden;
margin: 0px 3px 10px 10px;
float: right;
text-align: right;
}
p.contentTitle b{
font-size: 28px;
}
.fullContent h2{
font-weight: normal;
color: red;
background: white;
display: inline-block;
padding: 3px 12px;
margin: 12px 12px 12px 0px;
font-size: 20px;
}
.fullContent ul{
list-style-type: none;
}